@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 767px) {
    #menu:checked ~ #nav #toggle {
        height: 230px;
        transition: all 400ms linear;
    }
    #toggle {
        height: 0;
        overflow-y: hidden;
        transition: height 400ms linear;
    }
}
#circle{
    height: 70px;
  }
  #half-c{
    height: 100px;
}
#green{
    transition: all 500ms ease;
  }
  
  #yellow{
    transition: all 500ms ease-in-out;
  }
  @media screen and (max-width: 430px){
    #green{
      top:17rem;
      left:1rem;
      transition: all 500ms ease;
    }
    #yellow{
      left:10rem;
      transition: all 500ms ease-in-out;
    }
    #qwe{
      padding: 1rem;
    }
  }
  @media screen and (max-width: 430px){
    #four{
      display: flex;
      flex-wrap: wrap;
    }
    #res{
      grid-column: 1/13;
    }
  }
  #bor{
    border-bottom: 0.5px solid #aaa;
  }
  #btn{
    background-color: #5BD4EF;
  }